#box{
    padding-left: 7%;
}
#boxes{
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;

    width: 90%;
}
#forms{
    font-size: 40px;
    font-weight: bold;
    width: 40%;

   
}
.cross{
    height:20px;
    width:90%;
    margin-top: 90%;
    

}
.heading{
    font-size: 18px;
    font-weight: bold;
    width:100%;
}
.input{
    width:90%;
}
.input-message{
    width:90%;
    height:100px;
}
#input-file{
    width:90%;
    height:50px;
    border: 1px solid grey;
    padding-left: 1%;
    padding-top: 0.6%;
    
}
#submit{
    color:white;
    background-color: rgb(216, 16, 16);
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 10%;
    border: 0cm rgb(231, 68, 68);
   
    height:30px;
}